@import "./css/normalize.scss";
@import "./variables/global";
/* // @import "./themes/light";
// @import "./themes/dark"; */

@font-face {
  font-family: "Manropelight";
  src: url("./fonts/Manropelight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// a,
// /* Обычная ссылка */
// a:visited,
// /* Посещенная ссылка */
// a:hover,
// /* При наведении */
// a:active {
//   /* В момент нажатия */
//   color: black !important;
//   text-decoration: none !important;
//   /* Убираем подчеркивание (опционально) */
// }

p {
  margin: 0;
  padding: 0;
}
