@import "./css/normalize.scss";
@import "./variables/global";
/* // @import "./themes/light";
// @import "./themes/dark"; */

@font-face {
  font-family: "Manropelight";
  src: url("./fonts/Manropelight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Чтобы, при первоначальной загрузке, тем кто ночью запустит сайт, не ударило по глазам...
// а затем заиграет установленная тема
/* Светлая тема (по умолчанию) */
:root {
  --bg-color: white;
  --text-color: black;
}

/* Темная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --text-color: white;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

p {
  margin: 0;
  padding: 0;
}
